.Container {
    background-image: url(../../assets/Add_Appointment.jpg);
    background-size: cover; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: left center;
    max-width: 400px;
    width: auto;
    padding: 35px;
    border: 1px solid #ccc;
    border-radius: 15px;
    z-index: 100;
}

.Container button {
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-top: 35px;
    width: 300px;
    height: 40px;
    border: 1px solid #000000;
}

.Container button:hover {
    background-color: rgba(19, 213, 216, 0.6);
  }

.add-container input[type="text"],
.add-container input[type="password"],
.add-container input[type="number"],
.add-container input[type="date"],
.react-datepicker-wrapper,
.add-container select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #000000;
    margin-bottom: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
}



.add-container input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); 
    color: black;
  }

.text {
    font-weight: bold;
}