/* .flex-content {
  display: flex;
} 
  .logo {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .logo img {
    width: 130px;
    height: auto;
  }

.image-bg {
  width: 1000px;
  height: 500px;
  overflow: hidden;
}
.image-bg img {
  width: 700px;
  height: 400px;
} */