/* .screen {
   margin: 0; 
  padding: 0;  
  background-image: url('../../assets/BackLogin.jpg');
  background-size: cover;  
  background-position: center; 
  display: flex; 
  justify-content: center; 
 align-items: center;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 38px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-image: url(../../assets/Login.jpg);
    box-shadow: 3px 3px 10px rgba(0, 221, 255, 0.9);
    z-index: 100;
  }
  
  .container button{
    height: 40px;
    background-color: rgba(16, 177, 198, 0.5);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 13px;
    border: none;
    color: rgb(20, 23, 193);
    cursor: pointer;
    margin-top: 20px;
    width: 400px;
    height: 50px;
  }



  
  .title {
    text-align: center;
    color: #008cff;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
  }
  


  button {
    padding: 10px;
    background-color: #18e1eb;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #64b3e1;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
  

  .logo {
    
    position: absolute;
    top: 10px;
    left: 10px;
    margin-top: 33px;
  }
  
  .logo img {
    width: 130px;
    height: auto;
  }

  .whiteText {  
    color: rgb(0, 0, 0);
  }

  .login-container input[type="text"],
  .login-container input[type="password"],
  .login-container select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #000000;
    margin-bottom: 12px;
    background-color: rgba(24, 225, 235, 0.5);
    color: #000000;
  } */