/* login.css */
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 38px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #000000;
    /* opacity: 1; */
  }
  
  .title {
    text-align: center;
    color: #00ff08;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input[type="text"],
  input[type="password"],
  select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 12px;
  }
  
  button {
    padding: 10px;
    background-color: #006e00;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #267d00;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
  

  .logo {
    
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .logo img {
    width: 130px;
    height: auto;
  }

  .whiteText {
    color: white;
  }