/* .screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/BackLogin.jpg');
  background-size: cover;
  background-position: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-image: url("../../assets/Registration.jpg");
  box-shadow: 3px 3px 10px rgba(91, 92, 28, 0.9);
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.form-group {
  flex: 1;
  margin-right: 10px;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="date"],
.form-container input[type="password"],
.form-container input[type="number"],
.form-container select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-sizing: border-box;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.55);
  color: #000000;
  border: 1px solid #000000;
}

.form-container input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); 
  color: black;
}

.form-container button {
  background-color: rgba(161, 162, 118,0.60);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom:7 %;
  border: 1px solid #000000;
}

.form-container button:hover {
  background-color: rgba(52, 52, 37, 0.6);
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.logo img {
  width: 130px;
  height: auto;
} */